## langchain
langchain
langchain-core
langchain-text-splitters
langchain-google-genai==1.0.10
langchain-text-splitters

## models and db
faiss-cpu

## data
pypdf
pandas
openpyxl
docx2txt
numpy

python-dotenv

## web
fastapi
uvicorn[standard]
python-multipart